.select-style {
    border: 1px solid #ccc;
    /*width: 120px; */
    border-radius: 3px;
    overflow: hidden;
    /*background: #fafafa url("img/icon-select.png") no-repeat 90% 50%; */
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.select-style.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.select-style select ::-ms-expand {
    display: none;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
}

.select-style select:focus {
    outline: none;
}

#menu {
  width:100%; //cambio
}

.elements {
  padding-top:100px;
  padding-bottom: 50px;
}

.methodologies
{
  padding-top:30px;
  padding-bottom: 60px;
  clear:both;
  margin:auto;
}

#feature {
  padding-bottom: 30px;
}

.sticky-wrapper
{
  z-index:99;
}

.title
{
  font-size: 40px;
font-weight: 300;
}

.working {
  clear:both;
  margin: auto;
}



@media screen and (min-width: 991px) {
/*
  .intro, .intro-pic {

  }
*/
  .intro-pic
  {
    padding: 0px 0 0px;
    margin: 0px;
  }

  .intro {
    padding: 80px 0 30px;
  }
}

@media screen and (max-width: 991px) {
.ocultable {
visibility:hidden;
display:none;
}

.intro {
  padding: 0px 0 0px;
}

}

.local-img-centered {
  clear:both;
  margin: auto;
  float: none;
  display:block;
}

.intro-pic{
      z-index: -7;
}



@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
  .intro {
    padding: 5px 0 0px;
  }
}

/* smart-phone ----------- */
@media (max-width: 767px) {
  .intro {
    padding: 0px 0 0px;
  }
}

/* iPhone 5 (landscape) ----------- */
@media (max-width: 568px){
  .intro {
    padding-top: 10px;
  }
}

li a.mailTo {
  margin-left:20px; color:white;font-weight: 300;
}

div.contact-left.col-sm-5
{
  float: none;
  clear: both;
  margin: auto;
}

div.contact-left.col-sm-5 h2
{
  text-align: center;
}
